pandas==2.2.1
numpy==1.26.4
scikit-learn>=1.4.1
scipy==1.9.3
sentence-transformers==2.4.0
datasets==2.18.0
dill<0.3.5
torch==2.2.0
transformers==4.38.1
tqdm==4.66.2
matplotlib==3.8.3
accelerate==0.27.2
tensorboard==2.16.2
faiss-gpu==1.7.2
faiss-cpu==1.7.2
recbole==1.2.0
ray[tune]==2.10.0
marisa-trie==1.1.1
lightning==2.3.1
deepspeed==0.14.4
torch-tb-profiler==0.4.3
rich==13.7.1