numpy==1.26.4
scikit-learn>=1.4.1
torch==2.2.0
transformers==4.38.1
sentence-transformers==2.4.0
datasets==2.18.0
accelerate==0.27.2
lightning==2.3.1
recbole==1.2.0
tqdm==4.66.2
tensorboard==2.16.2
rich==13.7.1